# Virtual Environment
venv/
.venv/
env/

# Vector Databases (Heavy In-Memory Folders)
chroma_db/
faiss_db/
*.index

# Mothe Books & Files
*.pdf
*.epub
*.docx
uploads/

# Environment Keys
.env
